.top-container {
  background: linear-gradient(300deg, #00bfff, #2678cb, #1500d1);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  position: relative;
  padding-top: 50px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hat-pirates {
  position: absolute;
  right: 200px;
  top: 70px;
  height: 140px;
}

.ship-pirates {
  height: 500px;
}

.map-pirates {
  position: absolute;
  left: 210px;
  bottom: 120px;
  height: 140px;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

div {
  display: block;
}

h1 {
  color: whitesmoke;
  font-size: 5.625rem;
  font-family: "Caveat", cursive;
}

h2 {
  color: whitesmoke;
  font-size: 3.625rem;
  font-family: "Sigmar", cursive;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.bold-pirates {
  text-decoration: underline;
}

.middle-container {
  margin: 100px;
}

.photo-profile {
  border-radius: 50%;
  height: 200px;
}

.hello {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.intro {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}

hr {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  height: 10px;
  animation: gradient-animation 18s ease infinite;
  border-radius: 10px;
  margin: 100px;
}

.skill-line {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.parent {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  width: 60%;
  margin: 100px auto 0 auto;
  text-align: left;
  row-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 50px;
}

.baby-boy {
  width: 320px;
}

.pirates-uhuy {
  height: 300px;
}

.get-in {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.contact-message {
  width: 30%;
  margin: auto;
  margin-bottom: 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0px 20px;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.copyright {
  color: white;
  padding: 20px;
  font-size: 0.75rem;
}

@media (max-width: 640px) {
  .hat-pirates {
    display: none;
  }

  .map-pirates {
    display: none;
  }

  .ship-pirates {
    height: 300px;
  }

  .parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-left: 1px;
  }

  .baby-boy {
    width: 200px;
  }

  .pirates-uhuy {
    height: 200px;
  }

  .coding {
    text-align: left;
    width: 100%;
  }

  .intro {
    width: 100%;
  }

  .contact-message {
    width: 100%;
  }

  .hr {
    display: none;
  }

  h1 {
    color: whitesmoke;
    font-size: 3.625rem;
    font-family: "Caveat", cursive;
  }

  h2 {
    color: whitesmoke;
    font-size: 1.625rem;
    font-family: "Sigmar", cursive;
  }
}
